parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    doctrine:
        literalString: true
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        - '#Property .*? type mapping mismatch: property can contain .*?\|null but database expects .*?#'

includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon